/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {

}


/******************************************
/* LAYOUT
/*******************************************/
header {

}

main {
  background: center / 100% no-repeat url('http://placecats.com/1280/720');
  overflow: hidden;
  aspect-ratio: 16 / 9;
}

.flash-sale-banner {
  background: center / 100% no-repeat url('https://placecats.com/1280/512');
  overflow: hidden;
  aspect-ratio: 2.5 / 1;
}

footer {

}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
