/* Box Model Hack */
* {
  box-sizing: border-box;
  border: 1px solid black;
  text-shadow: 0px 0px 1px white;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

:root {
  --bg-primary: white;
  --bg-secondary: #EFF0F0;
  --text-color: black;
}

body {
  font-size: 62.5%;
}

nav {
  display: none;
}

ul {
  list-style: none;
  padding: 0;
  display: inline-block;
}

li {
  width: fit-content;
  display: inline-block;
}

img {
  width: 100%;
  display: inline-block;
}

li img {
  height: 1em;
}

h6 {
  padding: 0;
  margin: 0;
}

/******************************************
/* LAYOUT
/*******************************************/
header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 48px;
}

header > a {
  height: 90%;
}

header > a > img {
  height: 100%;
}

#nav-menu-toggle {
  height: 100%;
  aspect-ratio: 1;
}

@media screen and (min-width: 600px) {
  #nav-menu-toggle {
    display: none;
  }

  nav {
    display: block;
  }
}

main {
  overflow: hidden;
  aspect-ratio: 16 / 9;
  padding: 15% 0 0 10%;
}

section {
  padding: 10%;
}

section:nth-child(even) {
  background-color: var(--bg-secondary);
}

.services div {
  display: flex;
  justify-content: space-between;
  img {
    width: 45%;
  }

  div {
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: center;

  }
}

.news article {
  display: flex;
  flex-direction: column;
  & > * {
    width: 100%;
  }
  div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
}

.employee{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nametag {
    width: 80%;
    height: 4rem;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }



.flash-sale-banner {
  overflow: hidden;
  aspect-ratio: 2.5 / 1;
}

footer {

}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/

main {
  background: center / 100% no-repeat url('http://placecats.com/1280/720');
}

section {
  background-color: var(--bg-primary);
  padding: 10%;
}

section:nth-child(even) {
  background-color: var(--bg-secondary);
}

.flash-sale-banner {
  background: center / 100% no-repeat url('https://placecats.com/1280/512');
}
