body {
    background-color: #add8e6;
    border: green;
    border-width: 3px;
    border-style: solid;
    margin: 20px;
    padding: 20px;
}
header {
    display: flex;
    justify-content: center;
}
footer {
    display: flex;
    justify-content: center;
}
h1 {
    text-align: center;
}
p{
    color: white;
}
li {
    float: left;
    list-style: none;
    margin: 5px;
}
img {
    float: right;
    bottom: 50%;
}