<!DOCTYPE html>
<html lang="en">
	<head>
  	<meta charset="utf-8">
  	<meta name="description" content="Your description goes here">
  	<meta name="keywords" content="one, two, three">
	<meta name="viewport" content="width=device-width, initial-scale=1">
		
		<title>Blank Template</title>

		<!-- external CSS link -->
		<link rel="stylesheet" href="css/normalize.css">
		<link rel="stylesheet" href="css/style.css">
	</head>
	<body>
		<header>
			<a href="#"></a>
			<nav>
				<ul>
					<li>
						<a href="#">about</a>
					</li>
					<li>
						<a href="#">services</a>
					</li>
					<li>
						<a href="#">lookbook</a>
					</li>
					<li>
						<a href="#">news</a>
					</li>
					<li>
						<a href="#">contact</a>
					</li>
					<li>
						<a href="#" i class="search"></a>
					</li>
					<li>
						<a href="#" i class="bag"></a>
					</li>
				</ul>
			</nav>
			<btn >- book online</btn>
		</header>

		<main>
			<section>
				<h1>Tagline Goes Here</h1>
				<h6>Longer motto will go here</h6>
				<btn >- our services</btn>
			</section>
			<div class="sale">
				<span>Your first visit?</span>
				<span><strong>-20%</strong> for the first shave</span>
				<btn>- book online</btn>
			</div>
			<span>XXday-XXday time AM - time PM</span>
			<div class="gallery-controls">
				<btn>L</btn>
				<btn>R</btn>
			</div>
		</main>

		<section class="services">
			<div>
				<i class="firstservice"></i>
				<div>
					<h4>Service Title</h4>
					<p>
						Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem nostrum consequatur nobis voluptatem non dolorem!
					</p>
				</div>
			</div>
			<div>
				<i class="firstservice"></i>
				<div>
					<h4>Service Title</h4>
					<p>
						Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem nostrum consequatur nobis voluptatem non dolorem!
					</p>
				</div>
			</div>
			<div>
				<i class="firstservice"></i>
				<div>
					<h4>Service Title</h4>
					<p>
						Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem nostrum consequatur nobis voluptatem non dolorem!
					</p>
				</div>
			</div>
		</section>

		<section class="news">
			<article>
				<div>
					<h2>Blog Entry Title</h2>
					<p>
						Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sapiente optio sunt nihil, impedit, quos quod reprehenderit debitis, qui ea doloribus ipsum aspernatur porro dolor in!
					</p>
					<btn>- read more</btn>
				</div>
				<img src="assets/temp_file" alt="vlog entry">
			</article>
		</section>

		<section class="about">
			
		</section>

		<script type="text/javascript" src="js/main.js"></script>
	</body>
</html>
