* {
    border: 1px solid black;
    box-sizing: border-box;
    margin: 0px;
}
html, body {
    border: 0px;
}
header, footer {
    height: 100px;
    clear: both;
}
section {
    height: 400px;
    width: 20%;
    float: left;
}
.square {
    width: 40%;
}